NODE_ENV=
PUBLIC_URL=
PORT=
HOST=
TZ=
DB_PATH=
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
TENCENT_REGION=
TRTC_SDK_APP_ID=
TTS_VOICE_ID=
ASR_ENGINE=
ADP_SSE_URL=
ADP_KEY_GENERAL=
ADP_KEY_MEDICINE=
ADP_KEY_INTENT=
ADP_KEY_VISION=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
FAMILY_SUMMARY_CRON=
SESSION_SECRET=
COS_BUCKET=
COS_REGION=
AGENT_RUNTIME_ENDPOINT=
AGENT_RUNTIME_KEY=
